<div class="container">
    <div class="">
        <div class="col-md-12 text-center">
            <p>&copy; 2017 JointBox. <br> All Rights Reserved.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="social social-circle">
                <li><a href="{{ .Site.Params.TwitterLink }}"><i class="icon-twitter"></i></a></li>
                <li><a href="{{ .Site.Params.GithubLink }}"><i class="icon-github"></i></a></li>
                <li><a href="{{ .Site.Params.YoutubeLink }}"><i class="icon-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</div>