{{ partial "header.html" . }}

<section id="fh5co-home" data-section="home"
         style="background-image: url('{{ $.Site.BaseURL }}/images/cover-hardware-pcb.jpeg')"
         data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate"><img class="logo" src="{{ $.Site.BaseURL }}/images/logo-white.png"
                                                    width="200"
                                                    alt="Joint Box"></h1>
                        <h2 class="to-animate">Your DIY smart home. Simplified.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>

<section id="intro" data-section="intro">
    <div class="container">
        <div class="row row-bottom-padded-lg">
            <div class="block to-animate" style="background-image: url(images/img_7.jpg);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="text">
                    <i class="fh5co-intro-icon icon-wrench"></i>
                    <h2>Setup with no coding</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas, nibh nec elementum
                        consectetur, lorem ligula faucibus augue, eu mattis justo tortor ac sem.</p>
                    <p><a href="#" class="btn btn-primary">Getting Started</a></p>
                </div>
            </div>
            <div class="block to-animate"
                 style="background-image: url('{{ $.Site.BaseURL }}/images/raspberry-pi.jpg');">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="text">
                    <i class="fh5co-intro-icon icon-bulb"></i>
                    <h2>Popular modules supported</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas, nibh nec elementum
                        consectetur, lorem ligula faucibus augue, eu mattis justo tortor ac sem. Duis ac turpis
                        ultrices, posuere eros in, luctus tellus. </p>
                    <p><a href="#" class="btn btn-primary">See the list</a></p>
                </div>
            </div>
            <div class="block to-animate"
                 style="background-image: url('{{ $.Site.BaseURL }}/images/network-cable-ethernet-computer.jpeg');">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="text">
                    <i class="fh5co-intro-icon icon-rocket"></i>
                    <h2>Network connected</h2>
                    <p>Nam egestas, nibh nec elementum
                        consectetur, lorem ligula faucibus augue, eu mattis justo tortor ac sem. Duis ac turpis
                        ultrices, posuere eros in</p>
                    <p><a href="#" class="btn btn-primary">Check use case</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section id="fh5co-services" data-section="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-left">
                <h2 class=" left-border to-animate">Services</h2>
                <div class="row">
                    <div class="col-md-8 subtext to-animate">
                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-anchor"></i>
                <h3>Brand &amp; Strategy</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-layers2"></i>
                <h3>Web &amp; Interface</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean</p>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-video2"></i>
                <h3>Photo &amp; Video</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-monitor"></i>
                <h3>CMS &amp; eCommerce</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean</p>
            </div>

        </div>
    </div>
</section>
-->

<section id="install" data-section="install">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2>Getting Started</h2>
                <p>
                    <button class="btn btn-lg btn-primary"><span class="icon icon-download"></span>&nbsp;Download</button>
                    &nbsp;<span><a href="#">Quickstart guide</a></span>
                </p>
                <p>Prefer PIP?</p>
                <div>{{ highlight `pip install jointbox-server` "bash" ""}}</div>
            </div>
        </div>
    </div>
</section>

<section id="section-modules" data-section="modules">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Modules</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Modules is a cornerstone of the JointBox. They allow you to talk to the hardware and
                            communicate with outside world. <br> Below is the list of officially supported modules which
                            grows constantly. Check <a href="#">Contribution</a> section if you have something to add to
                            this list.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            {{ range first 10 (where .Data.Pages "Type" "module")}}
            {{ .Render "card"}}
            {{ end }}
        </div>
        <div class="row">
            <div class="col-md-12 text-center to-animate">
                <p>* Checkout complete list in the <a href="#" target="">Docs section</a></p>
            </div>
        </div>
    </div>
</section>

<section id="about" data-section="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">About</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3><strong>JointBox</strong> is an open-source non-commercial product. It was started by
                            Dmitry Berezovsky as a hobby project when he was building his own smart home.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 to-animate">
                <h3>Legal note</h3>
                <p>Code is licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL v3</a>, feel you
                    free to use in your own DIY projects.</p>
                <h3>Contributions</h3>
                <p>
                    At this point the only person working on the project is the original author. Since he is not able
                    to dedicate too much time on this contributors are highly required.
                    There are a few fields where you can help:
                </p>
                <ul>
                    <li>Adding new modules (new hardware support)</li>
                    <li>Implementing drivers for various platforms</li>
                    <li>Sharing your experience of using JointBox with community (tutorials, blog posts, etc.)</li>
                </ul>
            </div>
            <div class="col-md-5">
                <div class="fh5co-person text-center to-animate">
                    <figure><img src="images/person/dmitry_b.jpg" alt="Dmitry Berezovsky"></figure>
                    <h3>Dmitry Berezovsky</h3>
                    <span class="fh5co-position">Team Leader, Software Developer, Open Source Enthusiast</span>
                    <p>I am software engineering professional with the focus on Java,
                        Linux, agile software development processes and teamwork. Currently I hold position of CTO
                        at <a href="http://logicify.com/">Logicify</a>, software development company.</p>
                    <p>
                        Being a big fan of tech and automation I started to tune my own house and now want to share
                        this work with community.
                    </p>
                    <ul class="social social-circle">
                        <li><a href="https://github.com/corvis"><i class="icon-github"></i></a></li>
                        <li><a href="https://linkedin.com/in/corvis"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}