<footer id="footer" role="contentinfo">
    <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
    <div class="container">
        <div class="">
            <div class="col-md-12 text-center">
                <p>&copy; 2017 JointBox. <br> All Rights Reserved.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="social social-circle">
                    <li><a href="{{ .Site.Params.TwitterLink }}"><i class="icon-twitter"></i></a></li>
                    <li><a href="{{ .Site.Params.GithubLink }}"><i class="icon-github"></i></a></li>
                    <li><a href="{{ .Site.Params.YoutubeLink }}"><i class="icon-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ $.Site.BaseURL }}/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="{{ $.Site.BaseURL }}/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="{{ $.Site.BaseURL }}/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="{{ $.Site.BaseURL }}/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="{{ $.Site.BaseURL }}/js/jquery.stellar.min.js"></script>
<!-- Counter -->
<script src="{{ $.Site.BaseURL }}/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="{{ $.Site.BaseURL }}/js/jquery.magnific-popup.min.js"></script>
<script src="{{ $.Site.BaseURL }}/js/magnific-popup-options.js"></script>

<!-- Main JS (Do not remove) -->
<script src="{{ $.Site.BaseURL }}/js/main.js"></script>

</body>
</html>

