{{ partial "docs/header.html" . }}

<div class="doc-article container">
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
    <ol class="breadcrumb">
        <li><a href="/"><i class="icon-home"></i></a></li>
        {{ range $index, $element := split $url "/" }}
        {{ if ne $element "" }}
        <li><a href="{{ . | absURL }}">{{ . }}</a></li>
        {{ end }}
        {{ end }}
    </ol>
    <article class="module">
        <div class="container">
            <div class="row">
                <div class="img-wrapper col-md-4">
                    <img src="{{ $.Site.BaseURL }}/images/modules/{{ .Params.image }}" alt="{{ .Params.verbose_name }}"
                         class="img-responsive ">
                    <div class="meta container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="icon-github"></i> &nbsp;
                                <span><a target="_blank"
                                         href="{{ .Params.source_code }}">Source Code</a></span>
                            </div>
                            <div class="col-xs-6">
                                {{ if (eq .Params.is_core true) }}
                                <i class="icon-check-circle"></i> &nbsp; Core module</span>
                                {{ end }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <i class="icon-tag"></i> &nbsp; <span>{{ delimit .Params.tags ", " }}</span><br>
                            </div>
                        </div>
                    </div>
                </div>
                <header class="col-md-8">
                    <h1>{{ $.Params.verbose_name }} {{ if eq .Params.is_core true }}
                        <i class="icon-check-circle" title="Core Module"></i>{{ end }}
                    </h1>
                    {{ if isset .Params "under_development" }}
                    <div class="alert alert-danger">
                        <strong><i class="icon-warning"></i> Attention:</strong> This module is under development which
                        means that either it is not fully implemented so actual implementation may differ from described
                        here or it might be extremely buggy. Please consider it just as something to be available in
                        future.
                    </div>
                    {{ end }}
                    <p>
                        {{ $.Params.description }}
                    </p>
                    <div>
                        <div class="table-of-contents">
                            {{.TableOfContents}}
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <hr>
        {{ .Content }}
        <footer>

        </footer>
    </article>
</div>

{{ partial "docs/footer.html" . }}